.bricks-panel textarea.yos-brx-plain-classes-input {
    /* margin-top: 4px; */
    min-height: auto;
    form-sizing: content;
    background-color: var(--builder-bg-2);
    color: var(--builder-color);
    padding: 0;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    overflow: hidden !important;
    opacity: .75;

    padding-left: 5.5px;
    padding-right: 5.5px;
}

.bricks-panel textarea.yos-brx-plain-classes-input::placeholder {
    word-spacing: normal !important;
    opacity: 1 !important;
}

.bricks-panel textarea.yos-brx-plain-classes-input::selection {
    background-color: var(--builder-bg-accent);
    color: var(--builder-color-accent);
}

/* https://esm.sh/highlight-in-textarea@1.1.0/src/highlight-in-textarea.css?raw */

.hit-container {
    margin-top: 2px;
    display: inline-block;
    position: relative;
    width: 100%;
    line-height: 26px !important;
    font-size: 10px;
    background-color: var(--builder-bg) !important;
    font-family: Consolas, monaco, Courier New, monospace;
    overflow: hidden !important;
}

.hit-container .hit-backdrop,
.hit-container textarea.yos-brx-plain-classes-input {
    word-spacing: 8px !important;
}

.hit-backdrop {
    position: absolute !important;
    overflow: hidden !important;

    width: 100%;
    overflow-wrap: break-word;
}

.hit-highlights {
    width: auto !important;
    height: auto !important;
    border-color: transparent !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    color: transparent !important;
    overflow: hidden !important;
    border-width: 0 !important;
}

.hit-input {
    display: block !important;
    position: relative !important;
    margin: 0;
    padding: 0;
    border-radius: 0;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.hit-input:focus {
    outline-color: #495057;
}

.hit-content {
    border: 0;
    background: none transparent !important;
    padding-left: 5.5px;
    padding-right: 5.5px;
    position: relative;
}

.hit-content mark {
    padding: 0;
    border-radius: 0.1px;
}

.hit-content mark.word {
    background-color: var(--builder-bg-2);
    outline-color: var(--builder-bg-2);
    outline-width: 5.5px;
    outline-style: solid;
}

.hit-content mark.multispace,
.hit-content mark.placeholder {
    background-color: transparent;
}

.hit-content mark.placeholder {
    color: var(--builder-color);
    opacity: .75;
}

/* https://esm.sh/gh/zurb/tribute@252ec344a7/dist/tribute.css */

.yos-brx-plain-classes-tribute-container {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    overflow: auto;
    display: block;
    z-index: 999999;
    max-height: 50vh;
    max-width: 100% !important;

    background-color: var(--builder-bg-2);
    border-radius: var(--builder-border-radius);

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .5);

    min-width: 200px;
}

.yos-brx-plain-classes-tribute-container ul {
    margin: 0;
    margin-top: 2px;
    padding: 0;
    list-style: none;
}

.yos-brx-plain-classes-tribute-container li {
    padding: 5px 5px;
    cursor: pointer;
    font-size: 11px;
    color: var(--builder-color);
    position: relative;
}

.yos-brx-plain-classes-tribute-container li.highlight {
    background: var(--builder-bg-3);
}

.yos-brx-plain-classes-tribute-container li.no-match {
    cursor: default;
}

.yos-brx-plain-classes-tribute-container .menu-highlighted {
    font-weight: bold;
}

.yos-brx-plain-classes-tribute-container::-webkit-scrollbar {
    width: 8px;
}

.yos-brx-plain-classes-tribute-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .4);
}

.yos-brx-plain-classes-tribute-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.yos-brx-plain-classes-tribute-container::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .2);
}

.yos-brx-plain-classes-tribute-container li {
}

.yos-brx-plain-classes-tribute-container li span.class-name span {
    font-weight: bold;
}

.yos-brx-plain-classes-tribute-container li span.class-hint {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding-right: 8px;
    color: transparent;
}